:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --portfolio-filter-button: #f5f4fa;
}
/* Цвет заголовков #212121   */
/* Цвет текста #757575 */
/* Цвет акцента #2196F3 */
.page {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: roboto, sans-serif;
}
.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

.hiden-title {
  display: none;
}

/* Container */

.container {
  border: 1px solid purple;
  width: 1230px;
  padding-right: 15px;
  padding-left: 15px;  
  margin-left: auto;
  margin-right: auto;
}

/* button */

.button {
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.button-portfolio :hover {
  color: var(--accent-color);
}
/* LOGO */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-decoration: none;
}

.header-logo {
  color: var(--title-text-color);
}
/* header */

.footer-logo-span {
  color: var(--primary-bg-color);
}
.header-nav {
  align-items: center;
  display: flex;
}
/* Site nav */

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-right .item-right + .item-right {
  margin-left: 50px;
}

.site-nav-right {
  display: flex;
  margin-left: auto;
}
.site-nav-right-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav-right-link {
  display: flex;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav-right-link:hover,
.site-nav-right-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Section */

.section {
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* advantages */

.advantages {
  box-sizing: border-box;

}

.advantages-list {
  display: flex;
  flex-shrink: 0.9;
  margin-top: 94px;
  margin-bottom: 94px;
  padding-left: 0px;
  text-decoration: none;
}
.advantages-list .advantages-list-items:not(:last-child) {
  margin-right: 30px;
}

.advantages-list-title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* services */

.services-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.services-list {

  display: flex;
  margin-bottom: 94px;
  justify-content: center;
}

.services-list-image {
    width: 370px;

} 
.services-list-image:not(:last-child) {
  margin-right: 30px;

}


/* team */
.team-title {
  padding-top: 116px;
  padding-bottom: 50px;
  color: var(--title-text-color)

  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  display: flex;
  justify-content: center;
}

.team-list {
  align-items: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 72px;
}

.team .team-list + .team-list {
  margin-left: 30px;
}

.section-title-name {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-position {
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-block {
  padding-bottom: 94px;
}
/* ===============footer===================== */
.footer-title {
  color: var(--title-text-color);
}
.footer {
  background-color: #2f303a;
}
.footer-list:nth-child(-n+2) {
  margin-bottom: 0px;
}



.footer-logo {
  display: inline-block;
  padding-top: 60px;
  margin-bottom: 20px;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 3%;
  text-decoration: none;
}

.footer-contacts {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* adress */

.adress {
padding-bottom: 60px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

/* PPORTFOLIO CSS */
/* Main block filter button */
.filter-button {

  padding: 6px 22px;

  border: 0px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--portfolio-filter-button);
}

.filter-list-item:not(:last-child) {
  margin-right:9px;
}


.filter-list {
  justify-content: center;
  display: flex;
  padding-top: 94px;
  margin-bottom: 34px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--portfolio-filter-button);
}

/* Portfolio offer */

.offer-container {
  margin-right: auto;
  margin-left: auto;
}

.offer-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-decoration: none;
}

.offer {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.offer-item:nth-child(3n) {
  margin-right: 0px;
}

.offer-item {
  border:1px solid #EEEEEE;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.offer-item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}

.offer p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.03em;
  color: #757575;
}

.offer a {
  text-decoration: none;
}
